<ion-view view-title="Account" hide-nav-bar="true">
    <ion-nav-buttons side="left">
      <span class="button button-small button-clear " ng-click="searchProducts()">
        <i class="icon ion-ios-search search"></i>
      </span>
    </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="info">
      <div class="profile">
        <div class="avatar">
          <img ng-src="http://2.gravatar.com/avatar/b0098a54c3cb0a8ce331909b880cf02a?s=96&d=mm&r=g" alt="">
        </div>
        <div class="detail">
          <div class="name">
            Gadens
          </div>
          <div class="">
            {{info.client.mobile}}
          </div>
        </div>
        <div class="edit" ng-click="editProfile()">
          <i class="icon ion-edit"></i>
        </div>
        <div class="clear-both"></div>
      </div>
      <div class="bar row">
          <div class="col">
            <div class="numb">{{info.client.rewardPoints}}</div>
            <div class="text">待付款</div>
          </div>
          <div class="col" ng-click="toCollections()">
            <div class="numb">{{info.collectionCount}}</div>
            <div class="text">待发货</div>
          </div>
          <div class="col" ng-click="toMsgs()">
            <div class="numb">{{info.msgCount}}</div>
            <div class="text">已发货</div>
          </div>
          <div class="col" ng-click="toMsgs()">
            <div class="numb">{{info.msgCount}}</div>
            <div class="text">售后中</div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
