<ion-view view-title="{{nimabi2}}" cache-view="false">
  <ion-nav-buttons side="left">
      <span class="button button-small button-clear " ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </span>
   </ion-nav-buttons>
  <ion-content
  >
    <ion-list>
      <ion-item 
      class="item-remove-animate item-avatar item-icon-right" 
      ng-repeat="item in productList" 
      type="item-text-wrap" 
      href="#/list/{{item.id}}"
      >
        <img ng-src="{{cat.face}}">
        <h2>{{item.title}}</h2>
        <p>{{cat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(cat)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
